.heroImage{
height: 100%;
width: auto;
background-size: cover;
background-repeat: no-repeat;
}

.author{
 visibility: hidden;
}

p{
    color: white;
    text-shadow: 2px 2px #3b3b3b;

}

h1{
    color: white;
    text-shadow: 2px 2px #3b3b3b;

}